<div class="form">
  <form action="/auth/signup" class="signup-form" method="POST" enctype="multipart/form-data">
  <h2>Sign Up</h2>

    <div>
    <label for="username">
      Username
    </label>
    <input type="text" name="username" placeholder="Your username" id="username"/>
  </div>

  <div>
    <label for="picture">Image :
    </label>
    <input type="file" name="picture" />
</div>

<div>
    <label for="email">
      Email
    </label>
      <input type="email" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please enter a valid email')" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" placeholder="Your email" id="email" />
</div>
<div>
    <label for="phoneNumber">
      Phone number
    </label>
      <input type="text" name="phoneNumber" placeholder="Your phone number" id="phoneNumber"/>
</div>
<div>
    <label for="password">
      Password
    </label>
      <input type="password" name="password" placeholder="Your password" id="password" />
</div>
    <button type="submit">Sign Up</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>