<section class="about">
    <h1>Rescue Me Paris</h1>
    <p>Rescue Me is an online, searchable database of animals, specifically cats and dogs in Paris who need homes. We use the power of the Internet to connect adopters with shelter pets and help pets go from alone to adopted. We're working to help the good people at shelters and rescue groups find homes for their pets.</p>
    <picture><img src="./images/about-1.webp" alt=""></picture>
    <h2>Our Mission</h2>
    <ol>
        <li>Increase public awareness of the availability of adoptable pets in Paris</li>
        <li>Elevate the status of pets to that of family member</li>
        <li>Responsible adoption</li>
    </ol>
    <picture><img src="./images/about-2.jpeg" alt=""></picture>
    <p>From the comfort of their personal computers, pet lovers can search for a pet that best matches their needs.</p>
    <h2>Our Partners</h2>
    <picture><img src="./images/partners.jpeg" alt="partners" class="partners"></picture>
</section>
 