<section>
    <h1>About Pet Adoption Paris</h1>
    <p>Pet Adoption Paris is an online, searchable database of animals, specifically cats and dogs in Paris who need homes. Users can create their own account to</p>
    <h2>Our Mission</h2>
    <ol>
        <li>Increase public awareness of the availability of adoptable pets in Paris</li>
        <li>Elevate the status of pets to that of family member</li>
        <li>Responsible adoption</li>
        <li></li>
    </ol>
    <p>From the comfort of their personal computers, pet lovers can search for a pet that best matches their needs.</p>
</section>