<div>
    <h2>Please provide a reason</h2>
    <form action="">
    <select name="" id="">
        <option value="alreadyAdopted">Already adopted</option>
        <option value="remove">Changed mind</option>
        <option value="remove">Other</option>
    </select>
    <button>Proceed</button>
    </form>
</div>