<section class="all-pets">
    <div>
        <p>You can't buy love but you can rescue it</p>
    </div>
    <div>
        <a href="/pets">Check pets available for adoption now</a>
    </div>
</section>

<section class="already-adopted">
    <div>
        <p>These pets have found their forever home thanks to our wonderful community</p>
    </div>
    <div>
        <a href="/pets/adopted">See pets that have already been adopted</a>
    </div>
</section>