body {
    background-color: black;
}

.all-pets {
    width: 100vw;
    height: 800px;
    background-image: url("/images/section-1-bg.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}   

.already-adopted {
    width: 100vw;
    height: 800px;
    background-image: url("/images/section-2-bg.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

section {
    display: flex;
    justify-content: space-evenly;
}

div {
    width: 50vw;
    font-size: 2.7rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}

div>a {
    text-decoration: underline;
}

.div-one {
    color: rgb(214, 255, 152);
    padding: 50px 0 0 60px;
}

.div-two {
    align-self: flex-end;
    text-align: end;
    padding: 0 60px 60px 0;
}