@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Prompt;
}

body {
  background-image: url("https://picjumbo.com/wp-content/uploads/sunset-in-grass.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

#user-panel {
  justify-content: flex-end;
  gap: 20px;
}

#navigation {
  justify-content: space-between;
  width: 50vw;
}

nav  a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 80px;
  width: auto;
}

h2 {
  margin: 40px 0 40px 30px;
  text-align: center;
}

.all-pets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;
}

.card {
  height: 400px;
  width: 325px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.371);
  padding: 20px;
}

.card > picture {
  position: relative;
  overflow: hidden;
}

.card > picture > img {
  height: 290px;
  width: 300px;
  object-fit: cover;
}

.favorite-container {
  height: 45px;
  width: 45px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
  overflow: hidden;
  background: white;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.favorite-container img {
  width: 100%;
  height: 100%;
}

.heart-empty {
  background-image: url("/images/heart-empty.jpg");

}

.heart-full {
  background-image: url("/images/heart-full.jpg");
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .name {
  font-size: 21px;
  font-weight: bold;
}

.card .description {
  margin: 5px 0 15px 0;
}

.card-content a {
  all: unset;
  background: white;
  color: black;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 3px;
  transition: .5s;
}

.card-content a:hover {
  cursor: pointer;
  background: black;
  color: white;
  transition: .5s;
}
