.card {
    height: 300px;
    width: 225px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card > picture > img {
    padding-top: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.all-pets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

h2 {
    margin: 20px 0 60px 20px;
}

body {
    background-color: rgb(249, 249, 191);
}