/* .login {
  height: 500px;
  margin: 8% auto;
  text-align: center;
  width: 300px;
  border: 2px solid black;
  border-radius: 25px;
}

.login form {
  display: flex-box;
  flex-direction: column;
  align-self: center;
} */

/* .image-upload {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  margin: 100px auto 0px auto;
  overflow-y: hidden;
}
.image-upload > input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
  position: absolute;
  top: 212px;
  left: 330px;
  color: var(--white);
} */
