.form {
  margin: auto;
  margin-top: 100px;
  width: 60vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.371);
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

body {
  background-image: url("https://picjumbo.com/wp-content/uploads/sunset-in-grass.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 10px;
  align-items: center;
  position: relative;
  margin: 0 auto;
  font-size: 1.2rem;
}

.signup-form div {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

input,
select {
  width: 70%;
  height: 30px;
  font-size: .9rem;
}

h2 {
  margin: 0 0 30px 0;
  font-size: 1.9rem;
}

button {
  width: 250px;
  height: 35px;
  background-color: black;
  color: white;
  margin-top: 15px;
  border: none;
}
