.user-details {
    margin: 50px auto;
    width: 80vw;
    height: 300px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.371);
}

.card {
    height: 400px;
    width: 325px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.371);
}

.card > picture > img {
    padding-top: 10px;
    height: 290px;
    width: 300px;
    object-fit: cover;
}

.user-pets {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

h2 {
    margin: 20px 0 60px 20px;
}

body {
    background-color: rgb(249, 249, 191);
}

.favorite-container {
    height: 20px;
    width: 20px;
}

.heart-empty {
    background-image: url("/images/heart-empty.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.heart-full {
    background-image: url("/images/heart-full.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.card-content {
    display: flex;
    flex-direction: row;
}
